@CHARSET "UTF-8";

body {
	color: blue;
	font-size: 24px;
	text-align: center;
}

a {
	display: block;
}

h3 {
	color: orange;
	font-size: 28px
}

form {
	width: 600px;
	margin: auto;
}

.errorMessage {
	color: red;
}

.error {
	color: red;
}

.div1 {
	display: inline-block;
	white-space: nowrap;
}
.my-table {margin: auto;
}

.box {
    margin: 20px;
    width: 100px;
    height: 100px;
    border: solid 2px;
}
 